@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary-font: "Orbitron", sans-serif;
  --secondary-font: "Montserrat", sans-serif;

  --primary-color: #f2f2f2;
  --background-color: #000001;

  --pad: 50px;
  --pad-seperator: 20px;

  --title-font-size: 150px;
  --subtitle-font-size: 20px;
  --menu-font-size: 30px;
  --text-font-size: 20px;
  --project-font-size: 60px;
}

body,
html {
  overflow: hidden !important;
}

.ContactContent {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(calc(50% + 400px));

  z-index: 10;

  text-align: right;

  opacity: 0;
  animation-fill-mode: forwards;
}

.ContactForm {
  display: block;

  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.5px;

  cursor: pointer;

  transition: 0.3s ease;

  background-image: linear-gradient(var(--primary-color), var(--primary-color));
  background-repeat: no-repeat;
  background-size: 0% 3px;
  background-position: left bottom;

  white-space: nowrap;
}

.ContactForm span {
  display: inline-block;
  transform: rotate(45deg);
}

.ContactForm:hover {
  background-size: 100% 3px;
}

canvas {
  max-width: 100%;
}

@media (max-width: 766px) {
  .ContactContent {
    right: calc(var(--pad) * 1);
    transform: translateY(-50%);
  }
}

@media (min-width: 767px) and (max-width: 1440px) {
  .ContactContent {
    right: calc(var(--pad) * 2.5);
    transform: translateY(-50%);

    top: 52%;
    width: 150px;
  }
}

@media (max-width: 767px) {
  :root {
    --pad: 20px;
    --pad-seperator: 15px;

    --title-font-size: 60px;
    --subtitle-font-size: 10px;
    --normal-font-size: 20px;
    --text-font-size: 15px;
    --project-font-size: 30px;
  }
}

/* Styles for medium smartphones (portrait) */
@media (min-width: 768px) and (max-width: 991px) and (max-height: 742px) {
  :root {
    --pad: 30px;
    --pad-seperator: 15px;

    --title-font-size: 60px;
    --subtitle-font-size: 10px;
    --normal-font-size: 20px;
    --text-font-size: 15px;
    --project-font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (min-height: 743px) {
  :root {
    --pad: 30px;
    --pad-seperator: 15px;

    --title-font-size: 90px;
    --subtitle-font-size: 15px;
    --normal-font-size: 20px;
    --text-font-size: 15px;
    --project-font-size: 30px;
  }
}

/* Styles for standard desktops and laptops */
@media (min-width: 992px) and (max-width: 1919px) {
  :root {
    --pad: 30px;
    --pad-seperator: 15px;

    --title-font-size: 100px;
    --subtitle-font-size: 15px;
    --normal-font-size: 20px;
    --text-font-size: 15px;
    --project-font-size: 30px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2300px) {
  :root {
    --pad: 50px;
    --pad-seperator: 20px;

    --title-font-size: 120px;
    --subtitle-font-size: 20px;
    --normal-font-size: 20px;
    --text-font-size: 15px;
    --project-font-size: 45px;
  }
}
